* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(0, 0, 0);
}

.main-title {
  border-top: 5px double #ffffff;
  border-bottom: 5px double #ffffff;
}

#banner {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 250px;
  text-align: center;
}

.title img {
  width: 200px;
}


h1 {
  color: rgb(255, 255, 255);
  padding: 2px;
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow: rgb(0, 0, 0) 2px 1px;
  font-size: 50px;
  letter-spacing: 5px;
  cursor: default;
}

.title p {
  color: rgb(255, 255, 255);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: bolder;
  cursor: default;
  padding-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.info-text {
  width: 600px;
  height: 100px;
  text-align: center;
}

.info p {
  color: rgb(255, 255, 255);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 800;
  cursor: default;
}

.info p:hover {
  text-decoration: underline;
  animation-name: fade;
}

.info button {
  margin-top: 70px;
  padding: 15px 30px;
  border: 2px solid;
  border-color: #000000;
  background: #fbff00;
  color: #000000;
  font-size: 1.4rem;
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-family: "Metal Mania", system-ui;
  font-weight: bold;
}

.info button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
}


.info button:hover::after {
  transform: scale(4);
}

.info button:hover {
  border-color: #ff0000;
  background: #ff0000;
  color: rgb(0, 0, 0);
}

.cover {
  background: linear-gradient(to right, #000000, #2c0000);
  padding: 30px;
}

.slider {
  position: relative;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;

}

.slider img {
  width: 100%;
  display: none;
  pointer-events: none;
}

.slides {
  border: 8px solid transparent;
  padding: 2px;
  border-image: url(images/Gothic-trees.jpg) 50;
}

img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsl(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}

.previous {
  left: 0;
}

.next {
  right: 0;
}

@keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 1
  }
}

.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  background: #000000;
  padding: 0px 25px;
  box-shadow: 0.1rem 0.1rem 0.2rem 0 rgb(0 0 0 / 40%);
  font-size: 1.125rem;
  min-height: 375px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(77, 77, 77);
}

.side-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.side-image img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.Features {
  flex: 1;
  color: white;
}

p {
  text-align: justify;
  font-weight: bold;
  font-style: italic;
}

.set-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.set-button img {
  width: 50px;
  padding: 10px;
}

.set-button button {
  box-shadow: 6px 4px 6px 2px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9e0b00;
}

.set-button button:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}