* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
}

title {
  display: flex;
}

h1 {
  color: white;
  text-align: center;
  padding: 25px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-shadow: rgb(100, 0, 0) 2px 1px;
}

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider img {
  width: 100%;
  display: none;
}

.slides {
  border: 8px solid transparent;
  padding: 0px;
  border-image: url(images/Gothic-trees.jpg) 50;
}

img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsl(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}

.previous {
  left: 0;
}

.next {
  right: 0;
}

@keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 1
  }
}